.title {
    font-size: 40px;
}
.main-nav {
    float: right;
    text-align: center;
}
.main-nav li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    float:right;
    padding: 20px 15px 15px 15px;
    font-size: 17px;
}
.main {
    align-content: center;
    justify-content: center;
    font-family: "Optima", "Calibri", "Candara", "Arial", sans-serif;
    padding-top: 10px;
}
.jumbotron {
    height: 400px;
    justify-content: center;
}
.billboard {
    /*background-color: hsla(35, 60%, 80%, 0.85);*/
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    justify-content: center;
    font-family: "Optima", "Calibri", "Candara", "Arial", sans-serif;
    text-align: center;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
}

h2.billboard {
    font-size: 55px;
}

h4.billboard {
    font-size: 25px;
}

.nav-topics {
    font-size: 23px;
    border-style: solid;
    background-color: rgba(39, 88, 35, 0.91);
    font-family: "Chalkboard", "Comic sans", sans-serif;
}
#first-topic,#second-topic,#third-topic,#fourth-topic {
    padding: 20px 0;
}
#einstein-quote {
    padding-top: 40px;
    padding-bottom: 40px;
    font-style: "Optima", "Calibri", "Candara", "Arial", sans-serif;
}
#einstein-img {
    padding-top: 40px;
    padding-bottom: 40px;
}
